
*.obj
*.pch
*.tlog
*.pdb
*.log
*.filters
*.vcxproj
*.user
*.idb
targetver.h
stdafx.h
stdafx.cpp
KrWindow.cpp
KrCore.h
KrMessageHandler.cpp
KrUI.cpp
KrUI.h
KrUIManager.cpp
*.res
KrUI.ico
KrUI.rc
small.ico
